* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }

  html, body {
    height: 100%;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.8);
    padding: 1rem;
  }

 .scale {
    display: flex;

    align-items: baseline;
    align-items: center;
    margin-inline: 1rem;
 }
 
 #red{
   accent-color: red;
 }

 #green{
  accent-color: green;
}

#blue{
  accent-color: dogerblue
}

button{
  border: .15rem solid dodgerblue;
  border-radius: 0.2rem;
}

 p {
    margin: .5rem;
    font-size: 2rem;
}

body{
    background-color: rgb(red, green, blue)
}